{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<div class="section">

    <h2>Summary of Owned Stocks</h2>
    <table>
        <thead>
            <tr>
                <th>Stock Symbol</th>
                <th>Stock Name</th>
                <th>Bought or Sold</th>
                <th>Number of Shares</th>
                <th>At Price</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for data in datas %}
                <td>{{data[0]}}</td>
                <td>{{data[1]}}</td>
                <td>{{data[2]}}</td>
                <td>{{data[3]}}</td>
                <td>{{data[4]}}</td>
                <td>{{data[5]}}</td>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}